@font-face {
    font-family: 'pricedown';
    src: url('../fonts/pricedown/pricedown.ttf') format('ttf'),
		 url('../fonts/pricedown/pricedown.woff2') format('woff2'),
         url('../fonts/pricedown/pricedown.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.title {
	background-color: #EEE;
	text-align: center;
	font-family: 'pricedown';
	font-size: 60px;
	color: #333;
	padding: 10px;
}

.panorama-image {
	display: grid;
	height: 100%;
	box-shadow: 0px 2px 5px #999;
	overflow: hidden;
}

.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

.navigation-bar {
	text-align: center;
}

.page-content {
	text-align: center;
}
